@using Microsoft.AspNetCore.Localization;
@using Microsoft.Extensions.Options;
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<YarisTakip.Models.KullaniciYarisi>
@inject IViewLocalizer ViewLocalizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}

<!DOCTYPE html>

<html>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @ViewLocalizer["tablo1"]
                </th>
                <th>
                    @ViewLocalizer["tablo2"]
                </th>
                <th>
                    @ViewLocalizer["tablo3"]
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Yaris.Baslik)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Yaris.YarisKategori)
                    </td>
                    <td>
                        <a type="btn btn-success" asp-controller="Yaris" asp-action="Detail" asp-route-id="@item.YarisId"
                       class="btn btn-sm btn-outline-secondary">@ViewLocalizer["button"]</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
