@using Microsoft.AspNetCore.Localization;
@using Microsoft.Extensions.Options;
@using YarisTakip.ViewModel
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@model List<KullaniciViewModel>
@inject IViewLocalizer ViewLocalizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <form asp-area="" asp-controller="Admin" asp-action="Yarislar">
                        <button class="btn btn-outline-primary">@ViewLocalizer["button1"]</button>
                    </form>
                </li>
                <li class="nav-item">
                    <form asp-area="" asp-controller="Admin" asp-action="Kullanicilar">
                        <button class="btn btn-outline-primary">@ViewLocalizer["button2"]</button>
                    </form>
                </li>
                <li class="nav-item">
                    <form asp-area="" asp-controller="Yaris" asp-action="Create">
                        <button class="btn btn-outline-primary">@ViewLocalizer["button3"]</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<body>
<table class="table">
    <thead>
        <tr>
            <th>
                    @ViewLocalizer["tablo1"]
            </th>
            <th>
                    @ViewLocalizer["tablo2"]
            </th>
            <th>
                    @ViewLocalizer["tablo3"]
            </th>
            <th>
                    @ViewLocalizer["tablo4"]
            </th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                        @Html.DisplayFor(modelItem => item.KullaniciAdi)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.KosuHizi)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Mesafe)
                </td>
                <td>
                        <a type="btn btn-success" asp-controller="Admin" asp-action="KullaniciSil" asp-route-id="@item.Id"
                       class="btn btn-danger">@ViewLocalizer["button4"]</a>
                </td>
            </tr>
            }
    </tbody>
</table>
</body>
</html>