@model IEnumerable<Yaris>
@*
        For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    *@
@{
}
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <form asp-area="" asp-controller="Admin" asp-action="Yarislar">
                        <button class="btn btn-outline-primary">Yarislar</button>
                    </form>
                </li>
                <li class="nav-item">
                    <form asp-area="" asp-controller="Admin" asp-action="Kullanicilar">
                        <button class="btn btn-outline-primary">Kullanıcılar</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <p class="card-text">@item.Baslik</p>
                            <p class="card-text">@item.Aciklama</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="btn btn-success" asp-controller="Yaris" asp-action="Detail" asp-route-id="@item.Id"
                                   class="btn btn-sm btn-outline-secondary">Detay</a>
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                                    {
                                        <a type="btn btn-success" asp-controller="Yaris" asp-action="Edit" asp-route-id="@item.Id"
                                            class="btn btn-sm btn-outline-secondary">Düzenle</a>
                                        <a type="btn btn-success" asp-controller="Yaris" asp-action="Delete" asp-route-id="@item.Id"
                                            class="btn btn-outline-danger">Sil</a>
                                    }
                                </div>
                                <small class="text-muted">@item.YarisKategori</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>