@using Microsoft.AspNetCore.Localization;
@using Microsoft.Extensions.Options;
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@model Yaris
@inject IViewLocalizer ViewLocalizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}
<div class="container">

    <h1 class="my-4">
        <small>@Model.Baslik</small>
    </h1>

    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="@Model.Resim" alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">@Model.Baslik</h3>
            <p>@Model.Aciklama</p>
            <h3 class="my-3">@ViewLocalizer["aciklama1"]</h3>
            <ul>
                <li>@Model.Adres.Sehir</li>
                <li>@Model.Adres.Ulke</li>
                <li>@Model.YarisKategori</li>
            </ul>
        </div>

    </div>
</div>
<!-- /.container -->